main {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: fit-content;
  margin: 0 auto;
  font-family: system-ui;
}

button {
  background-color: #008CBA;
  transition-duration: 0.3s;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: white;
  color: #008CBA;
  border: 2px solid #008CBA;
}